.linkages-hero-cont{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.linkages-hero-textCont{
    width: 50%;
    height: 100%;
    background-color: #BD0F03;
    display: flex;
}

.linkages-heroTextContent{
    margin-left: 70px;
    margin-right: 40px;
    margin-top: -80px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.linkages-textTitleBgImg{
    position: absolute;
    bottom: 42px;
    left: -200px;
    z-index: -1;
    width: 583px;
    height: 583px;
    opacity: 15%;
}

.linkages-heroTextTitle{
    font-size: 48px;
    line-height: 98%;
    z-index: 1;
}

.linkages-heroTextBody{
    font-size: 26px;
    line-height: 99%;
    z-index: 1;
}

.linkages-hero-imgContent{
    width: 50%;
}

.linkages-hero-imgContent>img{
    width: 100%;
    height: 100%;
}

.linkages-statistics{
    background: linear-gradient(rgba(124, 10, 2, 0.8), rgba(124, 10, 2, 0.8)), url(../imgs/Admin.jpg);
    background-position: center;
    width: 100vw;
    height: 200px;
    filter: drop-shadow(10px);
}

.linkages-statisticsCont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.linkages-statisticsContent{
    color: white;
    text-align: center;
}

.statisticsNumber{
    font-size: 69px;
    margin-bottom: -15px;
}

.statisticsText{
    font-size: 25px;
}

.statisticsDivider{
    height: 45%;
    width: 1px;
    border: 5px solid white;
}

.Linkages-Office{
    width: 100vw;
    height: 450px;
    margin-bottom: 40px;
    background: linear-gradient(rgba(179, 33, 52, 0.8), rgba(179, 33, 52, 0.8)), url(../imgs/Office.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
}

.LinkagesContent{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
}

.LinkagesContentTitle{
    font-size: 53px;
}

.LinkagesContentText{
    font-size: 18px;
}

.Linkages-OfficeBtn{
    color: white;
    font-size: 26px;
    width: 255px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BD0F03;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: calc(27vw); /* Adjust based on viewport width */
    left: 50%;
    transform: translateX(-50%);
}